.card{
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100vw !important;
    height: 93vh !important;
    max-height: 100vh !important;
    max-width: 100vw !important;
}

.card-img{
    width: 100%;
    object-fit:contain;
}

.card-text-div{
    margin-top: 15vh;
    color: #ffffff;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient( to right , #ffffff00 , #ffffff11 , #ffffff00);

}
@keyframes topFadeOut {
    0% {
      
      opacity: 0;
    }
  
    75% {
      
      opacity: 0.7;
    }
  
    100% {
      opacity: 1;
    }
  }
.card-text-div>h3 {
    font-size: 25px;
    color: #ffffffaf;
}

.card-title {
    opacity: 1;
    animation-duration: 4.2s;
    animation-name: topFadeOut;
    text-align: center;

}

.card-button{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    padding: 10px;
    margin: 0 15px 0 15px;
    font-size: 1.2rem;
    
    font-weight: 700;
    border:none;
    border:solid 2px #ffffff;    
    background: rgba(255, 255, 255,0);
    
}
.card-button:hover {
    background-color: #000000;
    border: none;
}

.card-button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 15%;
    
}

.card-button-2{
    background-color: #ffffff;
    color: rgb(24, 23, 23);
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    padding: 10px;
    
    font-size: 1.2rem;
    margin: 0 15px 0 15px;
    font-weight: 700;
    
}

.card-button-2:hover {
    border:none;
    border:solid 2px #ffffff;    
    color: #ffffff;
    background: rgba(255, 255, 255,0);
}
