.about , body {
  font-family: 'Noto Sans', sans-serif;
  background-color: black;
  color: #ffffff;
  
}

.about .content h3 {
    font-weight: 700;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
  }
  
.about .content ul {
    list-style: none;
    padding: 0;
  }
  
.about .content ul li {
    padding: 0 0 8px 26px;
    position: relative;
  }
  
.about .content ul i {
    position: absolute;
    font-size: 20px;
    left: 0;
    top: -3px;
    color: #ffc451;
  }
  
.about .content p:last-child {
    margin-bottom: 0;
  }

.bottomRowDiv {
      z-index: 20;
  }

.about div div div img{
      z-index: 1;
  }

.ORD_BUTTON {
    position: absolute;
    right: 0;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    padding: 5px;
    width: 200px;
    font-size: 1.2rem;
    margin: 15px;
    font-weight: 700;
    border:none;
    border:solid 2px #ffffff;    
    background: rgba(255, 255, 255,0);

}
.ORD_BUTTON:hover  {
    background-color : #ffffff;
    color: #000000;

}
.hr_line {
  color: #ffffff;
}

.icon-box{
  padding: 30px 20px;
  transition: ease-in-out 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 100%;
  text-align: center;
  border-radius: 10px;
}

.about div div div img  , .about div div div h6 {
  margin-top: 5px;
}

.icon-box > h3 > text {
  font-size: 14px;
}

.cardImg {
  background-size: cover;
}