* {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
}

.cust_row{
    background-color: rgb(255, 255, 255);
}

.cust_img {
    width: 100% !important;
    
}

.cust_button {
    
    border: none;
    
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    opacity: 0.9;

}

.cust_button:hover {
    opacity: 1;
}

.cust_tab {
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 10%;
}

.cust_tab > h6  {
    margin-top: 5%;
}

.wheel1 {
    width: 80px !important;
    height: 80px !important;    
    border-radius: 50% !important;
    margin-right: 15px;
    border: none;
    
}
.wheelimg{
    width: 78px !important;
    height: 78px !important;
    
}
.rangeButton { 
    margin: 10px;

}

.perfButton {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #ffffff;
    border-width: 1px;
    font-size: 20px;
    font-weight: 500;
}

.perfButtonSelected {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    border-width: 5px;
    background-color: rgb(40, 116, 231);
    font-size: 20px;
}

