.navbar-logo{
    font-size: 2rem;
}

.navb{
    position: sticky;
    top: 0;
    z-index: 100 ;
    
    }

.navbar-item{
    color: white !important;
    font-weight: 600;
    font-size: 1.05rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px 0 20px;
    margin: 0 20px 0 20px;
}


.navbar-exit{
    color: #2f89fc !important;
}

.nav-drop-item{
    color: black !important;
}

.navbar-sickwhips{
    justify-content: center;
   
    
}

.fas{
    width: 25px;
    color: #2f89fc !important;
}

.navbar-item:hover {
    text-decoration: underline #ffffff !important;
    color: #ffffff !important;
    background-color: #00000013;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 15px;

}